/* Write your CSS here */
.img-planet {
  height: 100px;
  width: 100px;
  background-size: cover;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
